<% if value == 'bad' then %>
  <td class="font-bold text-red-700"><%= value %></td>
<% elsif value == 'satisfactory' then %>
  <td class="font-bold text-yellow-400"><%= value %></td>
<% elsif value == 'good' %>
  <td class="font-bold text-green-500"><%= value %></td>
<% else %>
<td>  <%= value %></td>
<% end %>
